<ion-tabs>
  <ion-tab tab="light">
    <ion-router-outlet name="light"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="movement">
    <ion-router-outlet name="movement"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="sound">
    <ion-router-outlet name="sound"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="light" href="app/tabs/(light:light)">
      <ion-icon name="bulb"></ion-icon>
      <ion-label>Light</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movement" href="app/tabs/(movement:movement)">
      <ion-icon name="walk"></ion-icon>
      <ion-label>Movement</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sound" href="app/tabs/(sound:sound)">
      <ion-icon name="microphone"></ion-icon>
      <ion-label>Sounds</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>